.chat-page {
  .show-more-button-wrapper {
    display: flex;
    justify-content: center;

    .show-more-button {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      width: 80%;
    }
  }

  .anchor {
    padding: 15rem auto;
  }
}
