.chat-message {
  background-color: transparent;
  width: fit-content;
  max-width: 50%;
  display: flex;
  margin-bottom: 5px;

  &.sent {
    margin-left: auto;
    margin-right: 1rem;
  }

  &.received {
    margin-left: 1rem;
    margin-right: auto;
  }

  .message {
    width: 100%;
    margin: 0px 0px auto;
    padding: 3px 5px 5px;

    &.sent {
      background-color: yellowgreen;
      text-align: left;
      display: inline-block;
    }

    &.received {
      background-color: blueviolet;
      text-align: left;
      order: 2;
      display: inline-block;
    }
  }

  img {
    // position: relative;
    width: 45px;
    height: 100%;
    border-radius: 50%;
    margin: 5px 5px;
  }
}
